<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{includes/header :: header}"></head>
<body>
	<div th:replace="~{includes/sidebar2 :: sidebar2}"></div>
	<div class="wrapper d-flex flex-column min-vh-100 bg-light">
      
      <div th:replace="~{includes/subheader2 :: subheader2}"></div>
      <div class="body flex-grow-1 px-3">
		<div class="container-lg">
			<div class="card mb-4 col-md-12 ">
				<div class="card-body">
				
					<div class="alert alert-success" role="alert" th:if="${param.success != null}">
					  [[${param.msg}]]
					</div>
					<div class="alert alert-danger" role="alert" th:if="${param.error != null}">
					  [[${param.msg}]]
					</div>
					<div class="alert alert-success" role="alert" th:if="${param.msg != null}">
					  [[${param.msg}]]
					</div>
					
					<div class="row">
						<div class="col-md-12 d-flex justify-content-between">
							
							<div class="d-flex align-items-center gap-2">
								<h5 class="m-0">Suggested</h5>
								<div class="main-wrapper d-flex">
									<a th:href="@{/student/portfolio}+${'?mode=files'}" class="suggested-files"><i class="fa-solid fa-file"></i>
									<i class="fa-solid fa-check checkthis"></i> Files</a>
									<a th:href="@{/student/portfolio}+${'?mode=folders'}" class="suggested-folders"><i class="fa-solid fa-folder"></i>
									<i class="fa-solid fa-check checkthis"></i> Folders</a>
								</div>
							</div>
							
							<div class="dropdown">
								<button class="new-file dropdown-toggle" data-coreui-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-plus"></i> New</button>
								
								<ul class="dropdown-menu">
								    <li><a class="dropdown-item" data-coreui-toggle="modal" data-coreui-target="#newFolder" href="#"><i class="fa-solid fa-folder"></i> New Folder</a></li>
								    <li>
								    <form id="file-upload" th:action="@{/student/uploadDirect}" enctype="multipart/form-data" method="post">
								    	<input type="file" name="file" id="fileUpload" class="d-none"/>
								    
							    	<label for="fileUpload" class="dropdown-item">
							    	<i class="fa-solid fa-file"></i> New File</label></form></li>
								</ul>
								
							</div>
						</div>
					</div>

					<div th:if="${ #strings.toString(param.mode) == 'folders'}">
					<table class="table" >
					  <thead>
					    <tr>
					      <th scope="col">Name</th>
					      <th scope="col">Upload Date</th>
					      <th scope="col" class="text-center">Action</th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr th:each="folder : ${folders}">
					      <th><i class="fas fa-folder"></i> <a th:href="@{/student/folder?folderId={id}(id=${folder.id})}">[[${folder.name}]]</a></th>
					      <td>[[${#temporals.format(folder.createdOn, 'dd/MM/yyyy HH:mm a')}]]</td>
					      <td class="text-center">
				      			
				      		<a th:href="@{/student/downloadzip}+'?folderId='+${folder.id}" class="ms-2 text-decoration-none">
				      			<i class="fa-solid fa-download"></i></a>
				      			
				      		<a class="ms-2 text-decoration-none" href="#" data-coreui-toggle="modal" 
								      			th:attr="data-coreui-target='#confirmDeleteModalFolder'+${folder.id}">
								      			<i class="far fa-trash-alt"></i>
								      		</a>
				      			
					      </td>
					    </tr>
					    
					    <tr th:unless="${folders.size() > 0}">
										<td colspan="3" class="text-center">No Folders found.</td>
									</tr>
					  </tbody>
					</table>
					<div class="col-md-12 m-2 d-flex justify-content-end">
								<nav aria-label="Pagination" th:replace="~{ includes/nav-paging :: nav-paging}"></nav>
							</div>	
					
					</div>
					
					<div th:if="${ #strings.toString(param.mode) == 'files'}">
					<table class="table" >
					  <thead>
					    <tr>
					      <th scope="col">Name</th>
					      <th scope="col">Upload Date</th>
					      <th scope="col" class="text-center">Action</th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr th:each="file : ${files}">
					      <th><i th:attr="class=${file.type.icon}"></i> [[${file.fileName}]]</th>
					      <td>[[${#temporals.format(file.createdOn, 'dd/MM/yyyy HH:mm a')}]]</td>
					      <td class="text-center">
				      			
				      		<a th:href="@{${file.uri}}" target="_blank" th:data-uri="${file.fileName}" class='ms-2 text-decoration-none' >
				      			<i class="fa-solid fa-download"></i></a>
				      			
				      		<a class="ms-2 text-decoration-none" href="#" data-coreui-toggle="modal" 
								      			th:attr="data-coreui-target='#confirmDeleteModalFile'+${file.id}">
								      			<i class="far fa-trash-alt"></i>
								      		</a>
				      			
					      </td>
					      
					    </tr>
					    
					    <tr th:unless="${files.size() > 0}">
										<td colspan="3" class="text-center">No Files found.</td>
									</tr>
					  </tbody>
					</table>
					
					<div class="col-md-12 m-2 d-flex justify-content-end">
								<nav aria-label="Pagination" th:replace="~{ includes/nav-paging :: nav-paging}"></nav>
							</div>	
					
					</div>
					
				</div>
			</div>
		</div>
	  </div>
   </div>

	<!-- Modal -->
	<div class="modal fade" id="newFolder" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered">
	    <div class="modal-content">
	      <div class="modal-header border-0">
	        <h5 class="modal-title" id="exampleModalLabel">New Folder</h5>
	        <button type="button" class="btn-close" data-coreui-dismiss="modal" aria-label="Close"></button>
	      </div>
	      <div class="modal-body">
	      	<form th:action="@{/student/create-folder}" id="folderForm" method="post" th:object="${folder}">
	        	<input class="form-control" type="text" th:field="*{name}" />
	        </form>
	      </div>
	      <div class="modal-footer border-0">
	        <button type="button" class="btn btn-secondary" data-coreui-dismiss="modal">Close</button>
	        <button type="button" class="btn btn-primary" id="createFolder">Create</button>
	      </div>
	      
	    </div>
	  </div>
	</div>
	
	
	<div th:each="e : ${folders}" >
		<div class="modal" tabindex="-1" th:attr="id='confirmDeleteModalFolder'+${e.id}" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title">Delete Folder?</h5>
		        <button type="button" class="btn-close" data-coreui-dismiss="modal" aria-label="Close"></button>
		      </div>
		      <div class="modal-body">
		      	<form method="post" th:action="@{/student/portfolio/delete?id={id}(id=${e.id})}" >
		      		 <p th:text="${'Sure to delete '+e.name+' ?'}"></p>
		      		 <div class="row justify-content-end">
			      		 <button type="button" class="btn btn-secondary col-md-2" data-coreui-dismiss="modal">Close</button>
			      		 <input type="submit" class="btn btn-primary col-md-2 ms-2" value="Delete" />
		      		 </div>
		      	</form>
		      </div>
		    </div>
		  </div>
		</div>
	</div>
	
	<div th:each="e : ${files}" >
		<div class="modal" tabindex="-1" th:attr="id='confirmDeleteModalFile'+${e.id}" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title">Delete File?</h5>
		        <button type="button" class="btn-close" data-coreui-dismiss="modal" aria-label="Close"></button>
		      </div>
		      <div class="modal-body">
		      	<form method="post" th:action="@{/student/portfolio/deletefile?id={id}(id=${e.id})}" >
		      		 <p th:text="${'Sure to delete '+e.fileName+' ?'}"></p>
		      		 <div class="row justify-content-end">
			      		 <button type="button" class="btn btn-secondary col-md-2" data-coreui-dismiss="modal">Close</button>
			      		 <input type="submit" class="btn btn-primary col-md-2 ms-2" value="Delete" />
		      		 </div>
		      	</form>
		      </div>
		    </div>
		  </div>
		</div>
	</div>
	
   
   <script>
   
   	jQuery(document).ready(function($){
   		$('#createFolder').click(function(e){
   			e.preventDefault();
   			if(jQuery('#name').val() != ""){
   				jQuery('#folderForm').submit();
   			}else{
   				alert('Provide a folder name');
   			}
   		});
   	});
   	
   	jQuery('#fileUpload').on('change' , function(){
   		if(jQuery(this).val() != ""){
   			jQuery('#file-upload').submit();
   		}
   	});
   	
   </script>
   <footer th:replace="~{includes/footer :: footer}"></footer>
</body>
</html>