<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{includes/header :: header}"></head>
<body th:object="${user}" class="d-flex flex-column h-100vh">
	  
    <header th:replace="~{parent/header :: header}"></header>
	 
	<div class="container flex-1">
		  <div class="row h-100 justify-content-center">
		    <div>
		    
				<div class="jumbotron parent mt-5">
					<div class="row justify-content-center">
						<ol style="--length: 5" role="list" th:each="a : ${activities}">
							<li style="--i: 1">
							<div class="row">
								<div class="col-md-10">
								<h3 class="m-0">[[${a.title}]]</h3>
								<p class="d-flex align-items-center">Due date: <span th:text="${#temporals.format(a.createdOn, 'dd/MM/yyyy HH:mm a')}"></span>
								</p>
								</div>
								<div class="col-md-2 d-flex align-items-center" th:object="${student}">
									<a class="btn btn-primary btn-parent w-100" 
										th:href="@{'/parent/task?id='+${student.id}+'&activityId='+${a.id}}">View</a>
								</div>
							</div>
							</li>
						</ol>
						
						
					</div>
				</div>
	  		</div>
		  </div>
	 </div>
	  
	<footer th:replace="~{includes/footer :: footer}"></footer>
</body>
</html>