<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{includes/header :: header}"></head>
<body>
	<div th:replace="~{includes/sidebar2 :: sidebar2}"></div>
	<div class="wrapper d-flex flex-column min-vh-100 bg-light">
      
      <div th:replace="~{includes/subheader :: subheader}"></div>
      <div class="body flex-grow-1 px-3">
		<div class="container-lg">
			<div class="card mb-4 col-md-12 ">
				<div class="card-body">
					<h2 class="card-title">Recently Added Task</h2>
					<hr>
					<h5 class="card-title">Assignments</h5>
					<table class="table table-stripe">
						<thead>
							<tr class="table-secondary">
						      <th scope="col">Task</th>
						      <th scope="col">Deadline</th>
						      <th scope="col">Subject</th>
						      <th scope="col">By</th>
						    </tr>
						</thead>
						<tbody>
						
						</tbody>
					</table>
					
					<h5 class="card-title">Activities</h5>
					<table class="table table-stripe">
						<thead>
							<tr class="table-secondary">
						      <th scope="col">Task</th>
						      <th scope="col">Deadline</th>
						      <th scope="col">Subject</th>
						      <th scope="col">By</th>
						      <th scope="col"></th>
						    </tr>
						</thead>
						<tbody>
							<tr th:each="act: ${activities}">
								<td>[[${act.title}]]</td>
								<td>[[${#temporals.format(act.dueDate, 'dd/MM/yyyy HH:mm a')}]]</td>
								<td>[[${act.subject}]]</td>
								<td>[[${act.createdBy}]]</td>
								<td><a th:href="@{/student/activity/task?id={id}(id=${act.id})}"><i class="far fa-edit"></i></a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	  </div>
   </div>
   
   <footer th:replace="~{includes/footer :: footer}"></footer>
</body>
</html>