<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{includes/header :: header}"></head>
<body th:object="${user}" class="d-flex flex-column h-100vh">

	<header th:replace="~{superadmin/header :: header}"></header>
	
	<div class="container flex-1">
		  <div class="row h-100 justify-content-center ">
		    <div>
				<div class="jumbotron">
					<h4>Search</h4>
					<form class="col-md-12">
						<div class="d-flex">
						  <input type="text" class="form-control" name="keyword" placeholder="Search by name" 
						  	aria-label="Recipient's username" aria-describedby="basic-addon2">
						  	
						  <input type="date" class="form-control ms-2" placeholder="Date" name="createdOn"
						  	aria-describedby="basic-addon2">
						  
						  <select class="form-control form-select ms-2" name="status">
								<option value="">Status</option>
	                		<option th:each="status : ${T(com.opms.enums.SignupStatus).values()}"
	                         th:value="${status}">[[${status}]]</option>
	               		  </select>
						  
						  <span class="p-0 border-0 ms-2" id="basic-addon2 ">
						  	<button type="submit" class="btn btn-primary"><i class="fas fa-search"></i></button>
						  </span>
						</div>
					</form>
				
					<table class="table mt-5">
					  <thead>
					    <tr>
					      <th scope="col">First Name</th>
					      <th scope="col">Last Name</th>
					      <th scope="col">Signup Date</th>
					      <th scope="col">Status</th>
					      <th scope="col" class="text-center">Action</th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr th:each="teacher : ${teachers}">
					      <td>[[${teacher.firstName}]]</td>
					      <td>[[${teacher.lastName}]]</td>
					      <td th:text="${#temporals.format(teacher.createdOn, 'dd/MM/yyyy HH:mm a')}"></td>
					      <td><span th:attr="class=${teacher.status.getBadge}">[[${teacher.status.getName}]]</span></td>
					      <td class="text-center">
					      	<a th:href="@{/superadmin/edit?id={id}(id=${teacher.id})}+${'&mode=teacher'}" class="text-decoration-none">
				      			<i class="far fa-edit"></i>
				      		</a>
					      </td>
					    </tr>
					    
					    <tr th:unless="${teachers.size() > 0}">
							<td colspan="5" class="text-center">No students found.</td>
						</tr>
					  </tbody>
					  
					</table>
					
					<div class="col-md-12 m-2 d-flex justify-content-end">
						<nav aria-label="Pagination" th:replace="~{ includes/nav-paging :: nav-paging}"></nav>
					</div>
				</div>
	  		</div>
		  </div>
	 </div>
	
<footer th:replace="~{includes/footer :: footer}"></footer>
</body>
</html>