<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{includes/header :: header}">
<body>
	<!-- to include sidebar.html -->
	<div th:replace="~{includes/sidebar :: sidebar}"></div>
	
    <div class="wrapper d-flex flex-column min-vh-100 bg-light">
      
      <div th:replace="~{includes/subheader :: subheader}"></div>
      
      <div class="body flex-grow-1 px-3">
        
      </div>
      
      <div class="footer">
        <div><a href="https://coreui.io">CoreUI </a><a href="https://coreui.io">Bootstrap Admin Template</a> © 2023 creativeLabs.</div>
        <div class="ms-auto">Powered by&nbsp;<a href="https://coreui.io/docs/">CoreUI UI Components</a></div>
      </div>
    </div>
    
    <footer th:replace="~{includes/footer :: footer}"></footer>
    
</body>
</html>