<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{includes/header :: header}">
</head>
<body>

	<div th:replace="~{includes/sidebar :: sidebar}"></div>
	
	<div class="wrapper d-flex flex-column min-vh-100 bg-light">
		<div th:replace="~{includes/subheader :: subheader}"></div>
		
		<div class="body flex-grow-1 px-3">
			<div class="container-lg">
				<div class="card mb-4 col-md-12 ">
					<div class="card-body ">
						<div class="col-md-12 text-center m-0 p-0" >
							<nav aria-label="breadcrumb">
							  <ol class="breadcrumb">
							    <li class="breadcrumb-item"><a href="#">Manage</a></li>
							    <li class="breadcrumb-item active" aria-current="page">Activity</li>
							  </ol>
							</nav>
						</div>
					</div>
				</div>
				
				<div class="card mb-4 col-md-12 ">
					<div class="card-body ">
					
						<div class="row">
							<div class="card col-md-12 border-0 p-0">
								<div class="card-body border-0">
									<nav th:if="${param.id != null && param.section != null}">
				                      <div class="nav nav-tabs d-flex" id="nav-tab" role="tablist">
				                        <a class="nav-link custom-tab border-0" id="activityTab" th:href="@{'/admin/activity-form?id='+${activity.id}}">
				                        Activity</a>
				                        
		                        	 	<a th:each="s : ${activity.sections}" th:href="@{'/admin/activity?id='+${activity.id}+'&'+'section='+ ${s.id} }" 
		                        	 		class="nav-link custom-tab border-0" 
		                        	 		th:classappend="${#strings.toString(s.id) == #strings.toString(param.section)} ? active : na ">
		                                [[${s.name}]]</a>
				                        
				                      </div>
				                    </nav>
								</div>
							</div>
						</div>
						
						<div class="tab-content mt-3" id="nav-tabContent">
						<!-- TAB ! -->
							<div class="tab-pane fade show active" id="activity" role="tabpanel" aria-labelledby="activityTab" tabindex="0">		
								<div th:each="a : ${answers}">
									<div class="accordion" id="accordionFlushExample">
									  <div class="accordion-item">
									    <h2 class="accordion-header" id="flush-headingOne">
									      <button class="accordion-button collapsed" type="button" data-coreui-toggle="collapse" 
									      	th:attr="data-coreui-target='#flush-collapseOne'+${a.id},aria-controls='flush-collapseOne'+${a.id}" aria-expanded="false">
									         [[${a.studentFullName}]]
									      </button>
									    </h2>
									    <div th:attr="id=flush-collapseOne+${a.id}" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-coreui-parent="#accordionFlushExample">
									     	
									     	<div th:object="${activity}" class="mt-2 p-2">
										     	<div th:if="${#strings.toString(activity.taskType) == 'SHARE_FILE'}">
													<h6 class="mb-3">Shared Link</h6>
													<div class="form-group col-md-6 mb-3">
												    	<a th:href="@{ ${a.fileUri} }" target="_blank">[[${a.fileUri}]]</a>
												  	</div>
												</div>
												
												<div th:if="${#strings.toString(activity.taskType) == 'FILE_UPLOAD'}">
													<h6 class="mb-3">Uploaded file</h6>
													<div class="form-group col-md-6 mb-3" th:each="file : ${a.files}">
												    	<a th:href="@{ ${file.uri} }" target="_blank">[[${file.uri}]]</a>
												  	</div>
												</div>
									     	</div>
									     	
									    </div>
									  </div>
									 </div>
								</div>
							</div>
						</div>
						<!-- TAB -->
						
					</div>
				</div>
				
			</div>
		</div>
		
	</div>
	<footer th:replace="~{includes/footer :: footer}"></footer>
</body>
</html>