<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{includes/header :: header}">
</head>
<body>

	<div th:replace="~{includes/sidebar :: sidebar}"></div>
	
	<div class="wrapper d-flex flex-column min-vh-100 bg-light">
		<div th:replace="~{includes/subheader :: subheader}"></div>
		
		<div class="body flex-grow-1 px-3">
			<div class="container-lg">
				<div class="card mb-4 col-md-12 ">
					<div class="card-body ">
						<div class="col-md-12 text-center m-0 p-0" >
							<nav aria-label="breadcrumb">
							  <ol class="breadcrumb">
							    <li class="breadcrumb-item"><a href="#">Manage</a></li>
							    <li class="breadcrumb-item active" aria-current="page">Activity</li>
							  </ol>
							</nav>
						</div>
					</div>
				</div>
				
				<div class="card mb-4 col-md-12 ">
					<div class="card-body ">
					
						<div class="row">
							<div class="card col-md-12 border-0 p-0">
								<div class="card-body border-0">
									<nav th:if="${param.id != null && sections != null}">
				                      <div class="nav nav-tabs d-flex" id="nav-tab" role="tablist">
				                        <button class="nav-link custom-tab active border-0" id="activityTab" data-coreui-toggle="tab" 
				                        data-coreui-target="#activity" type="button" role="tab" aria-controls="activity" aria-selected="true">
				                        Activity</button>
		                                
		                                <a th:each="s : ${activity.sections}" th:href="@{'/admin/activity?id='+${activity.id}+'&'+'section='+ ${s.id} }" class="nav-link custom-tab border-0">
		                                [[${s.name}]]</a>
				                        
				                      </div>
				                    </nav>
								</div>
							</div>
						</div>
						
						<div class="tab-content mt-3" id="nav-tabContent">
						<!-- TAB ! -->
						<div class="tab-pane fade show active" id="activity" role="tabpanel" aria-labelledby="activityTab" tabindex="0">		
						<div class="col-md-12 text-center m-0" >
							<div class="row mb-3 text-start">
								<form id="formActivity" method="post" th:object="${activity}"  enctype="multipart/form-data"
									th:action="@{/admin/activity-form/{action}(action=${action.getName})}">
									<input type="hidden" th:value="${activity.id}" th:field="*{id}"/>
									
									<div class="row align-items-center" th:if="${param.id != null}">
										<h4>Edit Activity </h4>
									</div>
									<div class="row align-items-center" th:if="${param.id == null}">
										<h4>Create Activity </h4>
									</div>
									
									<div class="row align-items-center mt-2 mb-3">
										<div class="col-sm-2">
											<label for="courseTitle" class="form-label m-0">Activity Title</label>
										</div>
										<div class="col-md-6">
		 									<input type="text" class="form-control"  id="courseTitle"  
		 									placeholder="Activity Title" th:value="${activity.title}" th:field="*{title}" required>
					              		</div>
									</div>
									
									<div class="row align-items-center mt-2 mb-3">
										<div class="col-sm-2">
											<label for="due" class="form-label m-0">Deadline</label>
										</div>
										<div class="col-md-6">
		 									<input type="datetime-local" class="form-control" id="due"  
		 									placeholder="Due Date" th:value="${activity.dueDate}" th:field="*{dueDate}" required>
					              		</div>
									</div>
									
									<div class="row align-items-start mb-3">
										<div class="col-sm-2">
											<label for="description" class="form-label m-0">Instructions</label>
										</div>
										<div class="col-md-6">
		 									<textarea class="form-control d-none" id="instruct" th:field="*{instruction}" th:value="${activity.instruction}" rows="7"></textarea>
					              			<div id="editor" style="height: 300px">
					              				[(${activity.instruction})]
					              			</div>
					              		</div>
									</div>
									
									<div class="row align-items-center mb-3 mt-2">
										<div class="col-sm-2">
											<label for="courseLevel" class="form-label m-0">Subject</label>
										</div>
										<div class="col-md-6">
		 									<select class="form-control form-select" th:field="*{subjectId}">
		 										<option value="">Select Subject</option>
						                		<option th:each="subject : ${subjects}"
						                         th:value="${subject.id}" >[[${subject.code + ' (' + subject.description +')'}]]</option>
						               		</select>
					              		</div>
									</div>
									
									<div class="row align-items-center mb-3 mt-2">
										<div class="col-sm-2">
											<label for="courseLevel" class="form-label m-0">Add to Section</label>
										</div>
										<div class="col-md-6">
		 									<select class="form-control form-select" id="multi-select" th:field="*{sectionIds}" multiple>
						                		<option th:each="sect : ${sectionsAll}"
						                         th:value="${sect.id}" th:text="${sect.name}"></option>
						               		</select>
						               		<!-- id="multi-select" -->
					              		</div>
									</div>
									
									<div class="row align-items-center mb-3 mt-2">
										<div class="col-sm-2">
											<label for="formFile" class="form-label">Attached file</label>
										</div>
										<div class="col-md-6" th:if="${param.id != null }">
											<div th:if="${not #lists.isEmpty(activity.files)}" th:each="file : ${activity.files}">
												<input class="form-control" type="file" name="file" id="formFile" th:value="${file.uri}">
												<small><a th:href="${file.uri}" target="_blank">[[${file.fileName}]]</a></small>
											</div>
	  										<div th:if="${#lists.isEmpty(activity.files)}">
	  											<input class="form-control" type="file" name="file" id="formFile">
	  										</div>
  										</div>
  										<div class="col-md-6" th:if="${param.id == null && #lists.isEmpty(activity.files) }">
	  										<input class="form-control" type="file" name="file" id="formFile">
  										</div>
									</div>
									
									<div class="row align-items-start mb-3 mt-2">
										<div class="col-sm-2">
											<label for="courseLevel" class="form-label m-0">Student Action</label>
										</div>
										<div class="col-md-3">
											<div class="form-check" th:each="type : ${T(com.opms.enums.TaskType).values()}">
											  <input class="form-check-input" type="radio" th:field="*{taskType}"
											  	 th:attr="id='inlineRadio'+${type}" th:value="${type}">
											  <label class="form-check-label" th:attr="for='inlineRadio'+${type}" th:text="${type.getName}"></label>
											</div>
										</div>
									</div>
									
									
									<div class="row align-items-center mb-3">
										<div class="col-sm-2">
					              		</div>
					              		<div class="col-sm-6 d-flex justify-content-end">
					              			<input class="btn btn-block btn-primary text-capitalize" onclick="submitForm(event)"
					              				type="submit" th:value="${action.getName}+' '+Activity"/>
					              		</div>
									</div>
								</form>
							</div>
						</div>
						</div>
						
						</div>
						<!-- TAB -->
						
					</div>
				</div>
				
			</div>
		</div>
		
	</div>
	<script type="text/javascript" th:inline="javascript"> 
		/*jQuery('#dueDate').datetimepicker({
	        icons: {
	            previous: 'bi-caret-left-fill',
	            next: 'bi-caret-right-fill',
	            time: 'bi-clock-fill',
	            up: 'bi-caret-up',
	            down: 'bi-caret-down',
	            date: 'bi-calendar-fill'
	        },
	        format:'L'
	    });*/
	    
		const quill = new Quill('#editor', {
		    theme: 'snow'
		});
	    
	    /*<![CDATA[*/
			var allList = [];
		    var list = [[${sectionsAll}]]; //neglect the error data is direct from controller
		    var sectionContain = [[${sections}]];
		    if(sectionContain != null){
		    	for (i = 0; i < list.length; i++) {
			    	if(sectionContain.includes(list[i].id)){
			    		allList.push(''+list[i].id+'');
			    	}
			    }
		    }
		    
	    /*]]>*/
	    function submitForm(e){
	    	e.preventDefault();
	    	document.getElementById('instruct').value = quill.root.innerHTML;
	    	if(validate()){
	    		return false;
	    	}
	    	document.getElementById('formActivity').submit();
	    }
	    
	    function validate(){
	    	
	    	var error = false;
	    	var msg ="Please complet required fields \n";
	    	
	   		const courseTitle = jQuery('#name').val();
	   		const duedate = jQuery('#due').val();
	   		const subjectId = jQuery('#subjectId').val();
	   		const section = jQuery('#multi-select').val();
	   		
	   		const requireFile = jQuery('#formFile').val();
	   		const shareAction = jQuery('#inlineRadioFILE_UPLOAD').is(':checked');
	   		const uploadAction = jQuery('#inlineRadioSHARE_FILE').is(':checked');
	   		
	   		var hasFileUpload = false;
	   		if(jQuery('#inlineRadioFILE_UPLOAD').is(':checked')){
	   			hasFileUpload = true;
	   		}
	   		
	   		if(courseTitle == ""){
	   			error = true;
	   			msg += "*Course Title \n";
	   		}
	   		
	   		if(duedate == ""){
	   			error = true;
	   			msg += "*Deadline \n";
	   		}
	   		
	   		if(section == ""){
	   			error = true;
	   			msg += "*Section/s \n";
	   		}
	   		
	   		if(!shareAction && !uploadAction){
	   			error = true;
	   			msg += "*Student Action \n";
	   		}
	   		
	   		
	   		if(hasFileUpload && requireFile == ""){
	   			error = true;
	   			msg += "*Upload file.";
	   		}
	   		
	   		if(error){
	   			alert(msg)
	   		}
	   		
	   		return error;
	    }
	    
		jQuery(document).ready(function($){
			$('#multi-select').select2();
			const select = document.getElementById("multi-select");
			for (i = 0; i < select.options.length; ++i){
			    if ( allList.includes( select.options[i].value ) ){
			    	select.options[i].selected = true;
			    }
			}
			
			$('#multi-select').trigger('change');
		});
	
	</script>
	<footer th:replace="~{includes/footer :: footer}"></footer>
</body>
</html>