<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{includes/header :: header}">
</head>
<body>
	<div th:replace="~{includes/sidebar :: sidebar}"></div>
	
	<div class="wrapper d-flex flex-column min-vh-100 bg-light">
		<div th:replace="~{includes/subheader :: subheader}"></div>
		
		<div class="body flex-grow-1 px-3">
			<div class="container-lg">
				<div class="card mb-4 col-md-12 ">
					<div class="card-body ">
						<div class="col-md-12 text-center m-0" >
							<nav aria-label="breadcrumb">
							  <ol class="breadcrumb">
							    <li class="breadcrumb-item"><a href="#">Manage</a></li>
							    <li class="breadcrumb-item active" aria-current="page">Courses</li>
							  </ol>
							</nav>
						</div>
						<div class="col-md-12 text-center m-0" >
							<div class="row mb-3">
								<form class="col-md-4">
									<div class="input-group">
									  <input type="text" class="form-control" placeholder="Search by code" 
									  	aria-label="Recipient's username" aria-describedby="basic-addon2">
									  <span class="input-group-text p-0 border-0" id="basic-addon2">
									  	<button type="submit" class="btn btn-primary"><i class="fas fa-search"></i></button>
									  </span>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<div class="card mb-4 col-md-12 ">
					<div class="card-body ">
						<div class="col-md-12 text-center m-0" >
							<div class="row mb-3 text-start">
								<form method="post" th:object="${course}" th:action="@{/admin/course-form/{action}(action=${action.getName})}">
									<input type="hidden" th:value="${course.id}" th:field="*{id}"/>
									<div class="row align-items-center" th:if="${param.id != null}">
										<h4>Edit Course</h4>
									</div>
									<div class="row align-items-center" th:if="${param.id == null}">
										<h4>Create Course</h4>
									</div>
									
									<div class="row align-items-center mt-2 mb-3">
										<div class="col-sm-2">
											<label for="courseTitle" class="form-label m-0">Course Title</label>
										</div>
										<div class="col-md-6">
		 									<input type="text" class="form-control" id="courseTitle"  
		 									placeholder="Course Title" th:value="${course.name}" th:field="*{name}" required>
					              		</div>
									</div>
									
									<div class="row align-items-center mt-2 mb-3">
										<div class="col-sm-2">
											<label for="courseTitle" class="form-label m-0">Initials</label>
										</div>
										<div class="col-md-6">
		 									<input type="text" class="form-control" id="courseTitle"  
		 									placeholder="Abbreviation" th:value="${course.abbreviation}" th:field="*{abbreviation}" required>
					              		</div>
									</div>
									
									<div class="row align-items-center mb-3 mt-2">
										<div class="col-sm-2">
											<label for="courseLevel" class="form-label m-0">Sections</label>
										</div>
										<div class="col-md-6">
		 									<select class="form-control form-select" id="courseSelect" th:field="*{sectionId}" multiple="multiple" style="height: 40px !important;">
		 										<option value="">Select sections</option>
		 										<option th:each="s : ${sections}"
						                         	th:value="${s.id}">[[${s.getName}]]</option>
						               		</select>
					              		</div>
									</div>
									
									<div class="row align-items-center mb-3 mt-2">
										<div class="col-sm-2">
											<label for="courseLevel" class="form-label m-0">Course Level</label>
										</div>
										<div class="col-md-6">
		 									<select class="form-control form-select" th:field="*{councilType}">
		 										<option value="">Select Course Level</option>
						                		<option th:each="type : ${T(com.opms.enums.CouncilType).values()}"
						                         th:value="${type}" th:text="${'('+type+') ' + type.getName}"></option>
						               		</select>
		 									
					              		</div>
									</div>
									
									<div class="row align-items-start mb-3">
										<div class="col-sm-2">
											<label for="description" class="form-label m-0">Description</label>
										</div>
										<div class="col-md-6">
		 									<textarea class="form-control" id="description" th:field="*{description}" th:value="${course.description}" rows="7"></textarea>
					              		</div>
									</div>
									
									<div class="row align-items-center mb-3">
										<div class="col-sm-2">
					              		</div>
					              		<div class="col-sm-6 d-flex justify-content-end">
					              			<input class="btn btn-block btn-primary text-capitalize" 
					              				type="submit" th:value="${action.getName}+' '+Course"/>
					              		</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>
	
	<script th:inline="javascript">
		jQuery(document).ready(function($){
			$('#courseSelect').select2({
				  placeholder: 'Select sections'
			});
		});
	</script>
	
	<footer th:replace="~{includes/footer :: footer}"></footer>
</body>
</html>